<div class="row">
    <div class="col-md-6">
        <h2>Transactions</h2>
        <p>You want to see the details of all unpaid transactions? Get to know more in this section.</p>
        <p>@Html.ActionLink("Learn more", "UnpaidTransactions", "Transactions", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-6">
        <h2>Amounts per vendor</h2>
        <p>Want to see the details of vendors' paid amount? Get to know more in this section.</p>
        <p>@Html.ActionLink("Learn more", "GetPaidAmountsPerVendor", "Transactions", new { @class = "btn btn-default" })</p>
    </div>
</div>
